NASM=nasm
FPC=fpc

# Used by all build mode:
# ELF executable target, Intel style assembler reader, allow assertions,
# labels and gotos, inline routines, and C-like operators.
OPT=-Aelf -Rintel -Sagic -Tlinux  -v

# Debug mode:
# NASMOPT=-g
# Emit debugging symbols, turn on all checks
FPCOPT=$(OPT) -g -Crtoi 

# Optimized mode:
NASMOPT=

# Smartlinkable units, SSE3 instruction set, use smartlinking,
# Turn on all possible optimizations
#FPCOPT=$(OPT) -CX -CfSSE3 -XX -O3

# Not needed I guess, -O3 already enables some (if not all) of these
# -OpPENTIUM4 -OoREGVAR -OoSTACKFRAME -OoPEEPHOLE -OoASMCSE -OoLOOPUNROLL -OoTAILREC -OoCSE -OoDFA

# Will be used when releasing (when would it happen? 
# -Xs

# Compiled system unit directory
SYSUNITDIR=-Fu./units/

RTLOUTDIR=$(SYSUNITDIR) -FU./units/

LD=ld
